.button {
    margin-block: 2rem;
    background-color: transparent;
    border: 1px dotted #ff7f00; /* orange border */
    padding: .5rem 1rem;
    color: #ff7f00; /* orange text */
    border-radius: 1rem;
    cursor: pointer;
    font-weight: 600;
    transition: all .4s ease-in-out;
}

.button:hover {
    background-color: #ff7f00; /* orange background on hover */
    color: #ffffff; /* white text on hover */
}